body{
    text-align: center;
}
canvas{
    border-style: solid;
    border-color: black;
    background-color: chartreuse;
}
h1{
    padding: 40px;
}
.cabecalho{
    display: flex;
    background-color: rgb(72, 204, 241);
    border-style: solid;
    border-color: rgb(55, 168, 233);
}
.cabecalho a{
    text-decoration: none;
    color: black;
    font-size: 100px;
    padding-left: 60px;
}