.cabecalho{
    display: flex;
    background-color: rgb(159, 48, 159);
    border-style: solid;
    border-color: rgb(199, 119, 202);
}
.cabecalho a{
    text-decoration: none;
    color: black;
    font-size: 100px;
    padding-left: 60px;
}
body{
    text-align: center;
    background-color: rgb(177, 120, 189);
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}
h1{
    padding: 50px;
}
p{
    padding: 50px;
}
input{
    border-style: solid;
    border-color: rgb(199, 119, 202);;
}
