body{
    text-align: center;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}