<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade de laboratorio num 9</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <a href="/projetos/at_lab9/index.html">
        <input type="button" value="Criar Post">
    </a>
    <p></p>
    <% for(let i = qtde - 1; i >= 0; i--){ %> <!--a variavel qtde nao funcionava pois 
                                                  quando i ficava maior que qtde o site 
                                                  crashava-->
        <div class="post">
            <h1><%= resposta[i].db_titulo %></h1>
            <h2><%= resposta[i].db_resumo %></h2>
            <p><%= resposta[i].db_conteudo %></p>
        </div>
        <br>
    <% } %>
</body>
</html>