<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atividade de laboratorio num 9</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <a href="/projetos/at_lab9/index.html">
        <input type="button" value="Criar Post">
    </a>
    <p></p>
    <% for(let i = 0; i <= 26; i++){ %> 
        <div>
            <%= resposta[i].db_titulo %>
            <%= resposta[i].db_resumo %>
            <%= resposta[i].db_conteudo %>
        </div>
    <% } %>
</body>
</html>